Repository fabriik/walletkit: changes, and which CircleCI parameters are due for each by the changed paths.
All: core-modified, android-modified, ios-modified

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:

  setup:

    jobs:
      - path-filtering/filter:
          base-revision: support/fabriik-9.0.0.X
          mapping: |
            WalletKitCore/.* core-modified true
            WalletKitJava/.* android-modified true
            WalletKitSwift/.* ios-modified true
          config-path: .circleci/workflows.yml

chore: cancelall
  WalletKitSwift/WalletKit/BRCryptoClient.swift
  WalletKitSwift/WalletKit/BRCryptoSystem.swift
  WalletKitSwift/WalletKit/common/BRCryptoBlockset.swift
Due: ios-modified

chore: cleanup
  WalletKitSwift/WalletKit/BRCryptoClient.swift
Due: ios-modified

chore: cleanup
  WalletKitSwift/WalletKit/common/BRCryptoBlockset.swift
Due: ios-modified

chore: memory management
  WalletKitSwift/WalletKit/common/BRCryptoBlockset.swift
Due: ios-modified

chore: revert changes
  WalletKitSwift/WalletKit/common/BRCryptoBlockset.swift
Due: ios-modified

chore: estimate_fee own session.
  WalletKitSwift/WalletKit/common/BRCryptoBlockset.swift
Due: ios-modified

Added local-purse and local-owner for RUN protocol
  BitcoinCore/Sources/BitcoinCore/include/Authorizer.hpp
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
  WalletKitCore/src/crypto/handlers/btc/BRCryptoTransferBTC.c
  WalletKitSwift/WalletKit/common/BRCryptoWhatsOnChain.swift
Due: core-modified, ios-modified

Debugged local-purse and local-owner for RUN protocol
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
  WalletKitSwift/WalletKit/common/BRCryptoWhatsOnChain.swift
Due: ios-modified

Fixed parameters for mainnet
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
  WalletKitCore/src/crypto/handlers/btc/BRCryptoNetworkBTC.c
  WalletKitSwift/WalletKit/common/BRCryptoWhatsOnChain.swift
Due: core-modified, ios-modified

Updated request to authorise
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
Due: none

Updated sql tables
  BitcoinCore/Sources/BitcoinCore/include/Authorizer.hpp
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
Due: none

Updated SFP Sqlite tables
  BitcoinCore/Sources/BitcoinCore/include/Authorizer.hpp
  BitcoinCore/Sources/BitcoinCore/src/walletkit/Authorizer.cpp
  WalletKitCore/include/BRCryptoWallet.h
  WalletKitCore/src/crypto/BRCryptoWallet.c
  WalletKitSwift/WalletKit/BRCryptoWallet.swift
  WalletKitSwift/WalletKit/common/BRCryptoBitcoinRPC.swift
  WalletKitSwift/WalletKit/common/BRCryptoWhatsOnChain.swift
Due: core-modified, ios-modified

Set new branch for protocols
  WalletKitJava/corenative-android/build.gradle
Due: android-modified

Updated alarm to always add period on init
  WalletKitCore/src/support/event/BREventAlarm.c
Due: core-modified

Updated confirmation period to 60 seconds
  WalletKitCore/src/crypto/BRCryptoConfig.h
Due: core-modified

Updated README.md
  README.md
Due: none

Commented out discoveredNetworks event in updateCurrencies
  WalletKitSwift/WalletKit/BRCryptoSystem.swift
Due: ios-modified
